# Binaries for programs and plugins
/__debug_bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Postgres_embedded
/postgres_embedded
